{% extends "layout.html" %}
{% block body %}
<div class="ui grid pjumbo">
    <div class="row">
        <div class="column large center aligned plarge">
            <p>pajbot is a custom built bot with a bunch of features. <strong>pajlada</strong> is its creator!</p>
            <p>
            <a href="http://twitch.tv/pajlada"><i class="icon twitch black"></i>pajlada</a>
            <a href="https://github.com/pajlada"><i class="icon github black"></i>pajlada</a>
            <a href="https://twitter.com/pajlada"><i class="icon twitter black"></i>pajlada</a>
            </p>
            <p>You can contact me through any of the mediums listed above.</p>
            <p>You can find this bot in the following channels:</p>
        </div>
    </div>
</div>
<div class="ui grid">
    {% for n in range(0, bots|length, 2) %}
        {% if bots[n:n+2]|length == 2 %}
        <div class="two column row">
            {% else %}
        <div class="two column row">
            {% endif %}
        {% for bot in bots[n:n+2] %}
        <div class="column pbot">
            <h2 class="ui medium header">{{ bot.bot }}</h2>
            <div><i class="icon twitch"></i> <a href="http://twitch.tv/{{ bot.streamer[0] }}">{{ bot.streamer[1] }}</a></div>
            <div><i class="icon star"></i> <a href="{{ bot.website }}">{{ bot.website|remove_protocol }}</a></div>
        </div>
        {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}
